node_modules/
dist/
*.db
*.db-journal
*.db-wal
*.db-shm
.env
.DS_Store
*.log
prisma/dev.db
prisma/dev.db-journal
backend/uploads/scans/*
!backend/uploads/scans/.gitkeep
backend/uploads/temp/*
!backend/uploads/temp/.gitkeep
test/
OMR_context.md
test/debugOutputs/
